body {
  font-family: Roboto;
}

#app {
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

#nav {
  padding: 10px;
}
#nav p {
  font-weight: 400;
  color: black;
}
#nav p {
  font-size: 1rem;
}
#nav a .router-link-exact-active {
  color: #42b983;
}

ol,
ul {
  list-style: none;
}
body {
  font-family: "Exo 2", sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1;
}
.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  transition: opacity 0.5s ease;
}
.fade-leave-active {
  transition: opacity 0.5s ease;
  opacity: 0;
}

.v-application--wrap {
  min-height: 0;
}

.header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 20px 0;
  position: relative;
}

.header nav h1 {
  margin-left: 40px;
  cursor: pointer;
}

.night-mode-icon {
  height: 25px;
}

.night-mode-icon:hover {
  transform: scale(1.05);
  transition: 0.2s;
}

.link {
  text-decoration: none;
}

.color-black {
  color: black;
}

.color-white {
  color: white;
}

.header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-right: 20px;
}

.header nav ul li {
  font-size: 18px;
  cursor: pointer;
  margin-right: 40px;
  padding: 5px 10px;
  border-radius: 5px;
}

.header .logo-image {
  max-width: 250px;
  width: 100%;
  margin-left: 40px;
}

.header .logo-image:hover {
  transform: scale(1.05);
  cursor: pointer;
  transition: 0.2s;
}

@media screen and (max-width: 1023px) {
  body {
    overflow: hidden;
  }
  #nav ul {
    display: none;
    flex-wrap: wrap;
  }
  .header .header-bkg {
    background-size: cover !important;
  }
  .text-header {
    top: 40% !important;
  }
  .text-header p {
    font-size: 18px !important;
    max-width: 300px;
    line-height: 24px !important;
  }
  .bundle {
    background-size: cover !important;
  }
  .bundle-title {
    padding: 0 !important;
    padding-top: 40px !important;
  }
}
